body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  width: 20%;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__header {
  color: red;
}
